html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: url('http://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
    background-color:#0C0C0C; 
    background-size: 100% 100%;
}

header {
    width: 100%;
    display: flex; 
    align-items: center;  
    margin: 10px 20px;
}

p.wdmp {
    font-family: 'Ink Free', sans-serif;
    font-size: 65px;
    position: relative;
    top: -30px;
    left: 10px;
    font-weight: bolder;
}

.wdmp:hover {
	cursor: pointer;
	animation: blink 2s linear infinite;
}

.welcome:hover {
	cursor: pointer;
	animation: blink 2s linear infinite;
}

div.welcome {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Ink Free', sans-serif;
    position: absolute;
    top: -55px;
    left: 44%;
    display: flex;
	align-items: center;
	justify-content: center;
}

.result {
    position: absolute;
    right: 15px;
	background-color: rgba(25,25,25,0.5);
	opacity: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 260px;
	width: 600px;
	border-style: double;
    border-width: 6px;
    border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

div.catbtn {
    position: absolute;
    right: 625px;
    margin-right: 10px;
    
}

button.cat_btn {
    background-color: rgba(212,212,212,0.9);
    height: 260px;
    width: 40px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    
}

button.cat_btn:active {
	transform: scale(0.97);
}

button:focus {
	outline: none
}

main {
    position: relative;
    width: 100%;
    height: auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px;
}
.btns {
    position: absolute;
    left: 1%;
    padding: 10px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

button.counterbtn {
    position: relative;
    left: 0%;
    width: 200px;
    height: 50px;
    font-size: large;
    padding: 10px;
    margin: 10px;
}

div.bio {
    position: relative;
    border: solid black;
    border-style: double;
    border-width: 8px;
    width: 400px;
    height: auto;
    left: 0%;
    bottom: 5%;
}

h1.bio {
    font-size: 40px;
    text-align: center;
    color: black;
    opacity: 0.8;
}

p.bio {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    color: black;
    opacity: 0.8;
}

iframe {
    position: absolute;
    right: 40px;
    top: 50px;
}

footer {
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: rgba(25,25,25,0.5);
    bottom: 0%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

p.contact {
    position: absolute;
    
    right: 75%;
    color: #fff;
    font-size: 20px;
}

p.copyright {
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-align: center;
    
    left: 42%;
}

div.socialmedia {
    position: absolute;
    left: 75%;
}

p.socialmedia {
    color: #fff;
    font-size: 20px;
}

a.linkins {
    position: absolute;
    top: 17px;
    left: 145px;
}

a.linktwi {
    position: absolute;
    top: 17px;
    left: 187px;
}

a.linkgit {
    position: absolute;
    top: 16px;
    left: 240px;
}

@keyframes blink{
	0%{
		text-shadow: 1px 1px 10px rgb(139, 43, 43),
					 0px 0px 20px rgb(139, 43, 43),
					 0px 0px 40px rgb(139, 43, 43);
	}
	50%{
		text-shadow: 1px 1px 10px rgb(139, 43, 43),
					 0px 0px 20px rgb(139, 43, 43),
					 0px 0px 40px rgb(139, 43, 43);
	}
}

@media screen and (max-width: 550px) {
	main {
        display: none;
    }
    footer {
        display: none;
    }
    div {
        display: none;
    }
    div.result {
        display: none;
    }
    div.welcome {
        position: relative;
    }
}